/* //Tailwind Defaults */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    display: grid;
    place-content: center;
    height: 100vh;
  }


}

.form {
  @apply flex aspect-square h-[200px] flex-col justify-between bg-blue-500 px-10 py-8
}